@import "tailwindcss";
@layer base {
    ::-webkit-scrollbar {
        background-color: #dddddd;
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ab8965;
        border-radius: 4px;
    }
}

@theme{
    --animate-currentSlideAnim: currentSlideAnim 1.5s ease-in-out;
    --animate-nextSlideAnim: nextSlideAnim 1.5s ease-in-out;
    --animate-currentSlideAnimSwipe: currentSlideAnimSwipe 1.5s ease-in-out;
    --animate-nextSlideAnimSwipe: nextSlideAnimSwipe 1.5s ease-in-out;
    --animate-dotSpinLoader: dotSpinLoader 1.5s ease-in-out infinite;
    --animate-spinLoader: spinLoader 1.5s ease-in-out infinite;
    --animate-animElements: animElements 1.5s ease-in-out;
    --animate-animText: animText 2s ease-in-out;
    @keyframes currentSlideAnim {
        0% {
            transform: translateX(calc(100% * var(--current-side)));
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes nextSlideAnim {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-100% * var(--current-side)));
        }
    }
    @keyframes currentSlideAnimSwipe {
        0% {
            transform: translateX(var(--curr-pos));
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes nextSlideAnimSwipe {
        0% {
            transform: translateX(var(--next-pos));
        }
        100% {
            transform: translateX(calc(100% * var(--anim-side)));
        }
    }
    @keyframes dotSpinLoader {
        0% {
            transform: rotate(var(--base-rotation));
        }
        50% {
            transform: rotate(calc(var(--base-rotation) + 15deg));
        }
        100% {
            transform: rotate(var(--base-rotation));
        }
    }
    @keyframes spinLoader {
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes animElements {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes animText {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}